* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: url("../images/bg.jpg") no-repeat center/cover;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  background: #1c4f8a;
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  height: calc(100vh - 70px);
  color: white;
}

/* LEFT TEXT */
.content h1 {
  font-size: 60px;
  line-height: 1.1;
}

.content span {
  font-size: 36px;
}

.content strong {
  color: #0b56c6;
}

.content p {
  margin-top: 20px;
  font-size: 16px;
}

/* FORM */
.form-box {
  background: rgba(255,255,255,0.95);
  width: 380px;
  padding: 35px;
  border-radius: 20px;
  color: #333;
}

.form-box h2 {
  text-align: center;
  color: #0b56c6;
}

.sub {
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.form-box button {
  width: 100%;
  padding: 12px;
  background: #0b56c6;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
}

.login-link a {
  color: #0b56c6;
  text-decoration: none;
}

.msg {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
