/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #004aad;
  color: #fff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  min-height: 100vh;
  background: #f4f6f9;
}

/* FORM */
.form-box {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form-box input,
.form-box button {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.form-box button {
  background: #004aad;
  color: white;
  border: none;
  cursor: pointer;
}

/* MODAL FIX */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL CONTENT */
.modal-content {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  text-align: center;
}

/* BUTTONS */
.btn-primary {
  background: #004aad;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-secondary {
  background: #ccc;
  border: none;
  padding: 12px;
  width: 100%;
}
